# Node
node_modules/

# Build output
dist/
coverage/
.tmp/

# Environment files

.env.*
!.env.development
!/src/backend/.env.development
!/src/backend/.env.production
!/src/frontend/.env.development
!/src/frontend/.env.production

# Generated frontend config
src/frontend/public/config/config.json

# OS junk
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
